.leftside_main{
    height: 100%;
    width: 248px;
    border-right: 1px solid;
    padding: 40px;
}
.leftside_brandname{
    


}

.leftside_header{
    font-weight: bold;
    margin: 10px;


}
.brandname{
    display: block;


}