.checkout_body{
    background-color: aliceblue;
    height: 100vh;

}

.checkout_container{
    background-color: rgb(255, 255, 255);
    margin: 25px;
    width:70vw ;
}

.textgap{
    margin: 5px;
}

.placeorder_button{
    width: 180px;
    height: 30px;
    border-radius: 50px;
    margin: 5px;
    border: 8px;
    background-color: #FFA41C;
}