.navbar_component{
    width: 100vw;
    height: 60px;
    background: #131921;
    display: flex;
}
.navbar_logo{
    background:url('https://ik.imagekit.io/amazon8064/amazon-image/sprite.png?updatedAt=1693939459743') no-repeat -20px -180px;
	width: 152px;
	height: 46px;
    margin: 13px;
    
}

.navbar_locater{
    display: flex;
    margin: 13px;

}




.navbar_location{
    color: white;
    font-weight: bold;  
    font-size: medium; 
      margin: 6px; 

}

.navbar_locating{
    background:url('https://ik.imagekit.io/amazon8064/amazon-image/sprite.png?updatedAt=1693939459743') no-repeat -142px -758px;
	width: 29px;
	height: 33px;

}

.searchcomponent{

    display: flex;
}

.navbar_searchbox{
    height: 33px;
    width: 453px;
    margin-top: 8px;

}

.navbar_searchicon{
    background:url('https://ik.imagekit.io/amazon8064/amazon-image/sprite.png?updatedAt=1693939459743') no-repeat -20px -580px;
	width: 42px;
	height: 42px;
}
.navbar_searchboxdiv{
    background-color: #FEBD69;
    height: 39px;
    width: 45px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 8px;
}

.nav_dropdown{
    width: 40px;
    height: 37px;
    margin-top: 10px;
    background-color: #E6E6E6;
    border-radius: 6px 0px 0px 5px;
    text-align: center;
}
.navbar_sign{
    color: white;
    width: 133px;
    margin-left: 50px;
    margin-top: 13px;


}
.navbar_return{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
   
}
.navbar_text{
    color: white;
    
    display: flex;


}

.navbar_cart{
    margin-top: 3px;
    margin-left: 18px;
    

}

.cart_image{
    background:url('https://ik.imagekit.io/amazon8064/amazon-image/sprite.png?updatedAt=1693939459743') no-repeat -436px -674px;
    width: 82px;
	height: 56px;




}
.navbar_text_cart{
    color: white;
    font-weight: bold;
    margin-top: 18px;
    
}
.cart_item{
    font-weight: bold;
    position: relative;
    left: -39px;
    top: 8px;
    color: yellow;
    font-size: 20px;
}
.navbar_footer{

height: 40px;
width: 100vw;
background-color: #232F3E;
display:flex;
color: white;
}

.navbar_footer_text{
    margin: 11px 16px;
    font-size: 15px;
    font-weight: bold;
}

.navbar_footer_text_side{

margin-top: 5px;
margin-left: 50px;
/* font-weight: bold; */
}